.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 30px;
}
.home-navbar-interactive {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  justify-content: center;
  background-color: #000000;
}
.home-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.home-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Merriweather";
  padding-left: 10px;
  padding-right: 10px;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.home-buttons {
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0);
}
.home-register {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
.home-burger-menu {
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200");
  background-position: center;
}
.home-text06 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-text07 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 3rem;
  max-width: 450px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-month-batch {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 50px;
}
.home-month-title {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-text08 {
  font-size: 50px;
  align-self: center;
  font-family: "Merriweather";
  font-weight: 800;
}
.home-days {
  gap: 30px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  justify-content: center;
}
.home-sunday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text09 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-monday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text10 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-tuesday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text11 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-wednesday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text12 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-thursday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text13 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-friday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text14 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-saturday {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-text15 {
  font-size: 40px;
  font-family: "Merriweather";
}
.home-week-1 {
  gap: 30px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.home-blank-date {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: #f1f1f1;
}
.home-date-container {
  gap: 0px;
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: flex-start;
  background-color: #f1f1f1;
}
.home-date-num {
  font-size: 20px;
  font-family: "Merriweather";
  font-weight: 700;
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 57px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 10px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text16 {
  width: 60px;
  font-size: 8px;
  font-style: normal;
  text-align: left;
  font-family: "Merriweather";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-icon08 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.home-dropdown-list {
  left: 0px;
  width: auto;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 70px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 5px;
  justify-content: flex-start;
}
.home-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image01 {
  width: 63px;
  height: 53px;
  object-fit: cover;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 70px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image02 {
  width: 56px;
  height: 59px;
  object-fit: cover;
}
.home-dropdown2 {
  width: auto;
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: auto;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 3px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1px;
}
.home-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image03 {
  width: 64px;
  height: 59px;
  object-fit: cover;
}
.home-dropdown3 {
  width: auto;
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: auto;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 3px;
}
.home-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image04 {
  width: 57px;
  height: 53px;
  object-fit: cover;
}
.home-dropdown4 {
  width: auto;
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: auto;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 3px;
}
.home-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image05 {
  width: 60px;
  height: 56px;
  object-fit: cover;
}
.home-dropdown5 {
  width: auto;
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: auto;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 3px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image06 {
  width: 56px;
  height: 59px;
  object-fit: cover;
  padding-bottom: 1px;
}
.home-dropdown6 {
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 3px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-container2 {
  flex: 0 0 auto;
  width: 48px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image07 {
  width: 48px;
  height: 46px;
  object-fit: cover;
}
.home-dropdown7 {
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image08 {
  width: 48px;
  height: 47px;
  object-fit: cover;
}
.home-dropdown8 {
  width: auto;
  cursor: pointer;
  height: 70px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: auto;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 5px;
  justify-content: flex-start;
}
.home-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-image09 {
  width: 57px;
  height: 56px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
